In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#loading the data set
df=pd.read_csv("sales.csv")

In [3]:
df.head()

   index  year     month  sales
0      0  1949   January    112
1      1  1949  February    118
2      2  1949     March    132
3      3  1949     April    129
4      4  1949       May    121

In [5]:
#checking for null values
df.isnull().sum()

index    0
year     0
month    0
sales    0
dtype: int64

In [38]:
max_sales = df[df['sales'] == df['sales'].max()]
print(max_sales)

     index  year month  sales
138    138  1960  July    622

In [39]:
#saving the output in output1.csv
with open("output.txt","w") as external_file:
    print(max_sales,file=external_file)
    external_file.close()