In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#loading the data set
df=pd.read_csv("blackfriday.csv")

In [3]:
df.head()

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase
0,1000001,F,0-17,10.0,A,2,0,8370
1,1000001,F,0-17,10.0,A,2,0,15200
2,1000001,F,0-17,10.0,A,2,0,1422
3,1000001,F,0-17,10.0,A,2,0,1057
4,1000003,M,26-35,15.0,A,3,0,15227

In [4]:
df.isnull().sum()

User_ID                       0
Gender                        0
Age                           0
Occupation                    2
City_Category                 0
Stay_In_Current_City_Years    2
Marital_Status                0
Purchase                      0
dtype: int64

In [5]:
#filling the missing values
df['Occupation'] = df['Occupation'].fillna(df['Occupation'].mode()[0])
df['Stay_In_Current_City_Years'] = df['Stay_In_Current_City_Years'].fillna(df['Stay_In_Current_City_Years'].mode()[0])

In [6]:
df.isnull().sum()

User_ID                       0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Purchase                      0
dtype: int64

In [23]:
#which gender has high chance of purchasing
Gen = df[df['Purchase'] == df['Purchase'].max()]
print(Gen)

      User_ID Gender    Age  Occupation City_Category  \
1156  1000235      M  26-35         0.0             B

     Stay_In_Current_City_Years  Marital_Status  Purchase
1156                          0               0     23826

In [19]:
#printing gender wise purchaseing
Gender=df.groupby("Gender")["Purchase"].count()
print(Gender)

Gender
F    1115
M    3749
Name: Purchase, dtype: int64

In [18]:
with open("output1.csv","w") as externalfile:
    print(Gender,file=externalfile)
    externalfile.close()

In [27]:
df.City_Category

0       A
1       A
2       A
3       A
4       A
       ..
4859    A
4860    C
4861    C
4862    C
4863    C
Name: City_Category, Length: 4864, dtype: object